<div class="author">
    <h1 class="author__heading">Hello there!!</h1>
    <p class="author__body">I created this right here.</p>
</div>

<img src="/img/tim_image.webp" alt="testing image" class="my_test_image", width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="artilce-ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>